In [1]:
# Import Dependencies
import pandas as pd

In [3]:
# Reference the file where the CSV is located
crime_csv_path = "Resources/Sydney_Crime.csv"

# Import the data into a Pandas DataFrame
crime_df = pd.read_csv(crime_csv_path)
crime_df.head()

NameError: name 'pd' is not defined

In [9]:
# look for missing values
crime_df.count()

Region                 406
Offence type           406
Apr 2015 - Mar 2016    405
Apr 2016 - Mar 2017    405
Apr 2017 - Mar 2018    406
Apr 2018 - Mar 2019    405
Apr 2019 - Mar 2020    405
dtype: int64

In [5]:
# drop null rows
no_null_crime_df = crime_df.dropna(how='any')

NameError: name 'crime_df' is not defined

In [6]:
# verify counts
no_null_crime_df.count()

NameError: name 'no_null_crime_df' is not defined

In [4]:
# Check to see if there are any values with mispelled or similar values in "Offence type"
no_null_crime_df["Offence type"].value_counts()

NameError: name 'no_null_crime_df' is not defined

In [13]:
# Combining similar offenses together
no_null_crime_df = no_null_crime_df.replace(
    {"Dealing, trafficking in cannabis": "Drugs", "Dealing, trafficking in ecstasy": "Drugs", "Dealing, trafficking in narcotics":"Drugs", "Dealing, trafficking in cocaine":"Drugs","Dealing, trafficking in other drugs":"Drugs","Dealing, trafficking in amphetamines":"Drugs"})
no_null_crime_df

,Region,Offence type,Apr 2015 - Mar 2016,Apr 2016 - Mar 2017,Apr 2017 - Mar 2018,Apr 2018 - Mar 2019,Apr 2019 - Mar 2020
0,Greater Sydney - Baulkham Hills and Hawkesbury,Murder *,0,1,0,1,0
1,Greater Sydney - Baulkham Hills and Hawkesbury,Attempted murder,0,0,0,0,0
2,Greater Sydney - Baulkham Hills and Hawkesbury,Non-domestic violence related assault,331,336,364,311,353
3,Greater Sydney - Baulkham Hills and Hawkesbury,Abduction and kidnapping,1,1,3,3,0
4,Greater Sydney - Baulkham Hills and Hawkesbury,Robbery without a weapon,14,13,10,14,15
...,...,...,...,...,...,...,...
400,In Custody,Drugs,7,4,3,6,6
401,In Custody,Drugs,2,3,7,7,2
403,In Custody,Drugs,3,1,0,0,0
404,In Custody,Drugs,22,23,32,73,41
405,In Custody,Trespass,3,7,13,5,7

In [16]:
# Check to see if you combined similar offenses correctly in "Offense Type".
no_null_crime_df["Offence type"].value_counts()

Drugs                                    173
Arson                                     29
Trespass                                  29
Non-domestic violence related assault     29
Robbery with a firearm                    29
Attempted murder                          29
Murder *                                  28
Robbery without a weapon                  28
Abduction and kidnapping                  28
Name: Offence type, dtype: int64

In [18]:
# Create a new DataFrame that looks into a specific region
centralwest_crime_df = no_null_crime_df.loc[no_null_crime_df["Region"] == "Central West"]
centralwest_crime_df

,Region,Offence type,Apr 2015 - Mar 2016,Apr 2016 - Mar 2017,Apr 2017 - Mar 2018,Apr 2018 - Mar 2019,Apr 2019 - Mar 2020
224,Central West,Murder *,3,4,3,2,3
225,Central West,Attempted murder,0,0,1,1,0
226,Central West,Non-domestic violence related assault,"1,126","1,155","1,084","1,156","1,103"
227,Central West,Abduction and kidnapping,7,9,6,17,8
228,Central West,Robbery without a weapon,22,22,18,36,31
229,Central West,Robbery with a firearm,2,7,2,2,2
230,Central West,Arson,244,263,333,283,256
231,Central West,Drugs,1,0,4,4,1
232,Central West,Drugs,4,8,1,1,0
233,Central West,Drugs,25,29,179,22,30
234,Central West,Drugs,142,148,99,39,244
235,Central West,Drugs,9,12,38,6,8
236,Central West,Drugs,6,11,12,7,7
237,Central West,Trespass,611,570,526,495,639