In [58]:
import pandas as pd
import numpy as np

In [59]:
csv_path = "Resources2/purchase_data.csv"

In [60]:
purchase_data_df = pd.read_csv(csv_path, encoding="ascii")
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [61]:
### Player Count
# Total Number of Players
individual_player_count = len(purchase_data_df["SN"].unique().tolist())
print ("Total number of players = "+str(individual_player_count))

Total number of players = 576

In [62]:
individual_players = [[individual_player_count]]
individual_players_df= pd.DataFrame(individual_players, columns= ["Total_Individual_Players"])
individual_players_df

   Total_Individual_Players
0                       576

In [63]:
# Total Number of Purchases
total_purchases = purchase_data_df["Purchase ID"].count()
print ("Total Number of Purchases = "+str(total_purchases))

Total Number of Purchases = 780

In [64]:
# Number of Unique Items
Unique_Items = len(purchase_data_df["Item ID"].unique().tolist())
print ("Number of Unique Items = "+str(Unique_Items))

Number of Unique Items = 179

In [65]:
# Total Revenue
Total_Revenue = purchase_data_df["Price"].sum()
print ("Total_Revenue = $"+str(Total_Revenue))

Total_Revenue = $2379.77

In [66]:
## Purchasing Analysis (Total)
# Average Purchase Price
average_price = round(purchase_data_df["Price"].mean(),2)
print("Average purchase price = $"+str(average_price))

Average purchase price = $3.05

In [67]:
# create dataframe to display the financial analysis results
fin_analysis = [[Unique_Items,average_price,total_purchases,
                Total_Revenue]]
fin_analysis_df = pd.DataFrame(fin_analysis, columns= ["Unique_Items",
                                                       "Average_Price",
                                                       "Total_Purchases",
                                                       "Total_Revenue"])
fin_analysis_df

   Unique_Items  Average_Price  Total_Purchases  Total_Revenue
0           179           3.05              780        2379.77

In [68]:
#create a gender dataframe that contains player SN and Gender only
individual_gender_df = purchase_data_df[["SN","Gender"]]
individual_gender_df.head()

              SN Gender
0        Lisim78   Male
1    Lisovynya38   Male
2     Ithergue48   Male
3  Chamassasya86   Male
4      Iskosia90   Male

In [69]:
# Check column values for Gender
individual_gender_df["Gender"].unique()

array(['Male', 'Other / Non-Disclosed', 'Female'], dtype=object)

In [70]:
#remove duplicates from individual gender df
individual_gender_df=individual_gender_df.drop_duplicates(subset='SN', keep="first")
individual_player_gender = len(individual_gender_df)
individual_player_gender

576

In [71]:
#Gender Demographics
# Count of Individual Males
individual_males_df=individual_gender_df.loc[individual_gender_df["Gender"]=="Male", :]
individual_males = len(individual_males_df)
print("Number of Males = "+str(individual_males))
#Percentage of Male Players
percentage_males = round((individual_males/individual_player_gender)*100,0)
print("Percentage of Males = "+ str(percentage_males))
#Percentage and Count of Female Players
individual_females_df = individual_gender_df.loc[individual_gender_df["Gender"]=="Female", :]
individual_females = len(individual_females_df)
print("Number of Females = "+str(individual_females))
percentage_females = round((individual_females/individual_player_gender)*100,0)
print("Percentage of Females = "+ str(percentage_females))
#Percentage and Count of Other / Non-Disclosed
individual_others=individual_player_gender-individual_males-individual_females
print("Number of Others/NonDisclosed = "+str(individual_others))
percentage_others = round((individual_others/individual_player_gender)*100,0)
print("Percentage of Others/NonDisclosed = "+ str(percentage_others))

Number of Males = 484
Percentage of Males = 84.0
Number of Females = 81
Percentage of Females = 14.0
Number of Others/NonDisclosed = 11
Percentage of Others/NonDisclosed = 2.0

In [72]:
#Create a dataframe to display Gender Demographics as a table
gender_display_df = pd.DataFrame({
    "Gender":["Male","Female","Others/Non_Disclosed"],
    "Total":[individual_males, individual_females, individual_others],
    "Percentage":[percentage_males, percentage_females, percentage_others]
})
gender_display_df

                 Gender  Total  Percentage
0                  Male    484        84.0
1                Female     81        14.0
2  Others/Non_Disclosed     11         2.0

In [73]:
 #Purchasing Analysis (Gender)
# Total Number of Purchases by Gender
gender_group = purchase_data_df.groupby("Gender")
purchase_count_gender =gender_group["Gender"].count()
print (str(purchase_count_gender))

# Avg. purchase price by Gender
av_price_gender = round(gender_group["Price"].mean(),2)
print (str(av_price_gender))

#Total Purchase Value by Gender
total_price_gender = round(gender_group["Price"].sum(),2)
print (str(total_price_gender))

#create a purchase analysis by gender dataframe with the purchase totals and average price showing

#Add new column to purchase analysis by gender dataframe for calculated avg. purchase total per person

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Gender, dtype: int64
Gender
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
Name: Price, dtype: float64
Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [74]:
purchase_data_df.columns.unique()

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [75]:
#Purchasing Analysis (Gender) repeat process as for indivdual gender analysis
 
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person by gender
gender_pivot = pd.pivot_table(purchase_data_df, 
                              values=['Purchase ID', 'Price'], index=["Gender"],
                              aggfunc={'Purchase ID':[len],
                                       'Price':[sum,np.mean]})
gender_pivot_df = gender_pivot
gender_pivot_df

                          Price          Purchase ID
                           mean      sum         len
Gender
Female                 3.203009   361.94         113
Male                   3.017853  1967.64         652
Other / Non-Disclosed  3.346000    50.19          15

In [76]:
# Use map and join to coalesce column headers in pivot data frame
gender_pivot_df.columns = list(map("_".join, gender_pivot_df.columns))
gender_pivot_df

#gender_analysis_df["mean"] = gender_pivot_df["mean"].map("${:.2f}".format)
#file_df["population"] = file_df["population"].map("{:,}".format)
#file_df["other"] = file_df["other"].map("{:.2f}".format)
#file_df.head()

                       Price_mean  Price_sum  Purchase ID_len
Gender
Female                   3.203009     361.94              113
Male                     3.017853    1967.64              652
Other / Non-Disclosed    3.346000      50.19               15

In [77]:
gender_pivot_df.columns.unique()

Index(['Price_mean', 'Price_sum', 'Purchase ID_len'], dtype='object')

In [78]:
# rename gender pivot table headers
gender_pivot_rename_df=gender_pivot_df.rename(columns={"Price_mean":"Average_Purchase_Price",
                                                       "Price_sum":"Total_Price_Value",
                                                       "Purchase ID_len":"Purchase_Count"
                                                      })
gender_pivot_rename_df

,Average_Purchase_Price,Total_Price_Value,Purchase_Count
Gender,,,
Female,3.203009,361.94,113
Male,3.017853,1967.64,652
Other / Non-Disclosed,3.346000,50.19,15

In [79]:
#use loc to filter on gender and create variable for gender total price values
males_total_price_value = gender_pivot_rename_df.iloc[1,1]
print("Males total price value = "+str(males_total_price_value))
#females_total_price_value
females_total_price_value = gender_pivot_rename_df.iloc[0,1]
print("Females total price value = "+str(females_total_price_value))
#others_total_price_value
others_total_price_value = gender_pivot_rename_df.iloc[2,1]
print("Others total price value = "+str(others_total_price_value))

Males total price value = 1967.6399999999994
Females total price value = 361.93999999999966
Others total price value = 50.190000000000005

In [80]:
#create variables holding calculated avg. price per person 
male_av_price_pp = round((males_total_price_value/individual_males),2)
print("Average price per male = "+str(male_av_price_pp))
female_av_price_pp = round((females_total_price_value/individual_females),2)
print("Average price per female = "+str(female_av_price_pp))
other_av_price_pp = round((others_total_price_value/individual_others),2)
print("Average price per other = "+str(other_av_price_pp))

Average price per male = 4.07
Average price per female = 4.47
Average price per other = 4.56

In [81]:
#add avg. price per person column to pivot table dataframe
avg_price_pp = [female_av_price_pp,male_av_price_pp, other_av_price_pp]
gender_pivot_rename_df["Average_Total_Purchase_per_Person"] = avg_price_pp
gender_purchase_summary_df = gender_pivot_rename_df
gender_purchase_summary_df

,Average_Purchase_Price,Total_Price_Value,Purchase_Count,Average_Total_Purchase_per_Person
Gender,,,,
Female,3.203009,361.94,113,4.47
Male,3.017853,1967.64,652,4.07
Other / Non-Disclosed,3.346000,50.19,15,4.56

In [82]:
#Create a summary data frame to hold the results
#Optional: give the displayed data cleaner formatting
gender_purchase_summary_df["Average_Purchase_Price"]=gender_purchase_summary_df["Average_Purchase_Price"].map("${:.2f}".format)
gender_purchase_summary_df["Total_Price_Value"]=gender_purchase_summary_df["Total_Price_Value"].map("${:.2f}".format)
gender_purchase_summary_df["Average_Total_Purchase_per_Person"]=gender_purchase_summary_df["Average_Total_Purchase_per_Person"].map("${:.2f}".format)
                                                                                 
#Display the summary data frame
gender_purchase_summary_df

,Average_Purchase_Price,Total_Price_Value,Purchase_Count,Average_Total_Purchase_per_Person
Gender,,,,
Female,$3.20,$361.94,113,$4.47
Male,$3.02,$1967.64,652,$4.07
Other / Non-Disclosed,$3.35,$50.19,15,$4.56

In [83]:
#Age Demographics
 
#Establish bins for ages


#Categorize the existing players using the age bins. Hint: use pd.cut()


#Calculate the numbers and percentages by age group


#Create a summary data frame to hold the results


#Optional: round the percentage column to two decimal points


#Display Age Demographics Table

In [84]:
#Purchasing Analysis (Age)
 
#Bin the purchase_data data frame by age


#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


#Create a summary data frame to hold the results


#Optional: give the displayed data cleaner formatting


#Display the summary data frame

In [ ]:
#Top Spenders
 
#Run basic calculations to obtain the results in the table below


#Create a summary data frame to hold the results


#Sort the total purchase value column in descending order


#Optional: give the displayed data cleaner formatting


#Display a preview of the summary data frame

In [ ]:
#Most Popular Items
 
#Retrieve the Item ID, Item Name, and Item Price columns


#Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


#Create a summary data frame to hold the results


#Sort the purchase count column in descending order


#Optional: give the displayed data cleaner formatting


#Display a preview of the summary data frame

In [ ]:
#Most Profitable Items
 
#Sort the above table by total purchase value in descending order


#Optional: give the displayed data cleaner formatting


#Display a preview of the data frame

In [ ]:
#https://monash.bootcampcontent.com/monash-coding-bootcamp/monu-mel-data-pt-08-2020-u-c/blob/961a99a3e178097c8c1be33feaa3cc8ce78faed0/02-Homework/04-Pandas/Instructions/HeroesOfPymoli/HeroesOfPymoli_starter.ipynb