In [3]:
# Import Dependencies
import pandas as pd

In [6]:
# Reference the file where the CSV is located
crime_csv_path = "Resources/Sydney_Crime.csv"
# Import the data into a Pandas DataFrame

In [7]:
# look for missing values
crime_df = pd.read_csv(crime_csv_path)
crime_df.head()

,Region,Offence type,Apr 2015 - Mar 2016,Apr 2016 - Mar 2017,Apr 2017 - Mar 2018,Apr 2018 - Mar 2019,Apr 2019 - Mar 2020
0,Greater Sydney - Baulkham Hills and Hawkesbury,Murder *,0,1,0,1,0
1,Greater Sydney - Baulkham Hills and Hawkesbury,Attempted murder,0,0,0,0,0
2,Greater Sydney - Baulkham Hills and Hawkesbury,Non-domestic violence related assault,331,336,364,311,353
3,Greater Sydney - Baulkham Hills and Hawkesbury,Abduction and kidnapping,1,1,3,3,0
4,Greater Sydney - Baulkham Hills and Hawkesbury,Robbery without a weapon,14,13,10,14,15

In [13]:
# verify counts
crime_df.count()

Region                 406
Offence type           406
Apr 2015 - Mar 2016    405
Apr 2016 - Mar 2017    405
Apr 2017 - Mar 2018    406
Apr 2018 - Mar 2019    405
Apr 2019 - Mar 2020    405
dtype: int64

In [12]:
no_null_crime_df = crime_df.dropna(how="any")
no_null_crime_df.count()

Region                 402
Offence type           402
Apr 2015 - Mar 2016    402
Apr 2016 - Mar 2017    402
Apr 2017 - Mar 2018    402
Apr 2018 - Mar 2019    402
Apr 2019 - Mar 2020    402
dtype: int64

In [21]:
# Check to see if there are any values with mispelled or similar values in "Offence Type"
no_null_crime_df["Offence type"].value_counts()

Dealing, trafficking in cocaine          29
Non-domestic violence related assault    29
Dealing, trafficking in narcotics        29
Arson                                    29
Dealing, trafficking in other drugs      29
Robbery with a firearm                   29
Attempted murder                         29
Dealing, trafficking in cannabis         29
Dealing, trafficking in ecstasy          29
Trespass                                 29
Dealing, trafficking in amphetamines     28
Robbery without a weapon                 28
Murder *                                 28
Abduction and kidnapping                 28
Name: Offence type, dtype: int64

In [22]:
# Combine similar offences
no_null_crime_df=no_null_crime_df.replace()

In [ ]:
# Check to see if you comnbined similar offences correctly in "Offence Type".

In [ ]:
# Create a new DataFrame that looks into a specific region